.card-feature {
	display: flex;
	align-items: center;
	/* Cambiamos a flex-start para alinear el contenido a la izquierda */
	justify-content: flex-start;
	gap: 1.2rem; /* Reducimos el espacio entre el ícono y el texto */

	background-color: #ffffff;
	border-radius: 1rem;
	/* Reducimos el padding para hacer las tarjetas más finas */
	padding: 2rem;

	/* Hacemos que las tarjetas sean flexibles y tengan un ancho mínimo */
	flex: 1;
	min-width: 22rem; /* 220px, para que se vean más chicas */
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}