@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Define variables globales para colores, etc. */
:root {
	--primary-color: #9aedf8;
	--background-color: #7abefd;
	--dark-color: #151515;
}

html {
  /* Hacemos que 1rem = 10px para que sea más fácil calcular tamaños */
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

/* Reseteo básico para quitar márgenes y paddings por defecto de los navegadores */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  /* Mantenemos estas líneas para un renderizado de fuentes más suave */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Evita el desbordamiento horizontal y la barra de scroll lateral */
  overflow-x: hidden;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem; /* 1200px */
	margin: 0 auto;
  /* Padding para que el contenido no se pegue a los bordes en móvil */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* Aplicamos el color de fondo a la sección principal */
.main-content {
	background-color: var(--background-color);
}